/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 0 60px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.restaurants-element {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  width: 270px;

  .img {
    background-color: #ccc;
    display: block;
    margin: 0;
    min-height: 248px;
  }

  h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  
  p {
    margin: 0;
    font-size: 11pt;
  }
  
  a {
    background-color: #3397DB;
    color: #f0f0f0;
    display: inline-block;
    font-size: 10pt;
    font-weight: 600;
    margin: 15px 0 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.22),
                0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.22),
                  0 1px 3px rgba(0, 0, 0, 0.16);
    }

    &:active {
      transform: translateY(+1px);
    }
  }
}
