/* ====================== Restaurant Details ====================== */

.inside {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @media (max-width: 750px) {
      font-size: 1em;
    }

    @media (max-width: 500px) {
      font-size: 0.7em;
    }

    @media (max-width: 400px) {
      font-size: 0.6em;
    }
  }

  #breadcrumb {
    @media (max-width: 750px) {
      width: 100%;
      padding: 10px 40px 10px;
    }
  }

  #maincontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
      @media (max-width: 750px) {
        grid-template-columns: 1fr;
        grid-template-rows: 65vh min-content;
      }
  }

  #map-container {
    background: #00f none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;

    @media (max-width: 750px) {
      position: static;
      width: 100%;
      margin-top: 125px;
    }
  }

  #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  
  #restaurant-container {
    margin-top: 131px;

    @media (max-width: 750px) {
      margin-top: 20px;
    }
  }
  
  #footer {
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    width: 50%;

    @media (max-width: 750px) {
      position: static;
      width: 100%;
    }
  }
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-description,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 20px;
}

#reviews-container {
  padding: 30px 40px 80px;

  h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }

  @media (max-width: 750px) {
    padding: 15px 20px;
  }
}

#restaurant-description p {
  @media (max-width: 750px) {
    text-align: center;
  }
}

#restaurant-hours {
  margin: 0 auto 15px auto;

  td {
    color: #666;
  }

  @media (max-width: 750px) {
    font-size: 1.2em;
  }
}

#reviews-list {
  margin: 0;
  padding: 0;
  
  li {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 85%;
    
    p {
      margin: 0 0 10px;
    }

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

.review__name {
  color: #333;
}

.review__date {
  color: #666;
  font-size: 0.8em;
  margin-left: auto;
  position: absolute;
  top: 25px;
  right: 20px;
}
